.random_grid {

  width: fit-content;

  &:empty { display: none; }

  & > * {

    width: 100%;
    height: auto;
    object-fit: center;
    margin-inline: auto;
  }

  & > :not(:last-child) {

    margin-bottom: .25rem;

  }
}