/* LANDING */

/*
===================================================================================
*/
.border_image {
  position: relative;
  display: inline-block;
}

.border_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35); /* Dark overlay with 50% opacity */
  pointer-events: none; /* Ensure the overlay does not interfere with interactions */
  border-radius: inherit; /* Match the border radius of the image */
}
